.some-products{
    background-color: #C6F500;
}

.justify{
    text-align: justify;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

footer{
    min-height: 50px;
}

footer a{
    text-decoration: none;
}